<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3" 
  IgnorableNamespaces="uap uap3 mp">

  <Identity
    Name="af5f5e1c-c747-43e1-bfc6-8b83903b6998"
    Publisher="CN=jose.fajardo"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="af5f5e1c-c747-43e1-bfc6-8b83903b6998" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>X.Extension.ThirdParty.Azure</DisplayName>
    <PublisherDisplayName>jose.fajardo</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="X.Extension.ThirdParty.Azure.App">
      <uap:VisualElements
        DisplayName="X.Extension.ThirdParty.Azure"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="X.Extension.ThirdParty.Azure"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <!--<uap:Extension Category="windows.appService" EntryPoint="X.Extension.ThirdParty.AWS.Services.CallService">
          <uap:AppService Name="Call" />
        </uap:Extension>-->
        <uap3:Extension Category="windows.appExtension">
          <uap3:AppExtension Name="X.Extensions" Id="X.Extension.ThirdParty.Azure" PublicFolder="public" DisplayName="Azure Extension (3rd Party)">
            <uap3:Properties>
              <Logo>ms-appx:///Assets/Azure.png</Logo>
              <Title>Azure Management</Title>
              <IconUrl>Logo-20x20.png</IconUrl>
              <Publisher>Jose Fajardo</Publisher>
              <Version>1.0</Version>
              <Abstract>Manage your Azure account</Abstract>
              <FoundInToolbarPositions>Bottom</FoundInToolbarPositions>
              <LaunchInDockPositions>BottomFull</LaunchInDockPositions>
              <ContentControl>X.Extension.ThirdParty.Azure.Content</ContentControl>
              <AssemblyName>X.Extension.ThirdParty.Azure</AssemblyName>
              <IsExtEnabled>true</IsExtEnabled>
              <IsUWPExtension>true</IsUWPExtension>
            </uap3:Properties>
          </uap3:AppExtension>
        </uap3:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>