<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3" IgnorableNamespaces="uap uap3 mp">
  <Identity Name="cb5c22fd-a380-454b-b377-04ef86b8f621" Publisher="CN=jose.fajardo" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="cb5c22fd-a380-454b-b377-04ef86b8f621" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>X.Extension.ThirdParty.AWS</DisplayName>
    <PublisherDisplayName>jose.fajardo</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="X.Extension.ThirdParty.AWS.App">
      <uap:VisualElements DisplayName="X.Extension.ThirdParty.AWS" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="X.Extension.ThirdParty.AWS" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="X.Extension.ThirdParty.Aws.TestService">
          <BackgroundTasks>
            <Task Type="general" />
          </BackgroundTasks>
        </Extension>
        <uap:Extension Category="windows.appService" EntryPoint="X.Extension.ThirdParty.Aws.TestService">
          <uap:AppService Name="X.Extension.Svc.GetContent" />
        </uap:Extension>
        <uap3:Extension Category="windows.appExtension">
          <uap3:AppExtension Name="X.Extensions" Id="X.Extension.ThirdParty.AWS" PublicFolder="public\shared" DisplayName="AWS Extension (3rd Party)">
            <uap3:Properties>
              <Logo>ms-appx:///Assets/Aws.png</Logo>
              <Title>Aws Management</Title>
              <IconUrl>ms-appx:///Assets/jose.png</IconUrl>
              <IconUrl2>ms-appx:///Extensions/ThirdParty/Aws/Aws.png</IconUrl2>
              <Publisher>Jose Fajardo</Publisher>
              <Version>1.0</Version>
              <Abstract>Manage your AWS account</Abstract>
              <FoundInToolbarPositions>Bottom</FoundInToolbarPositions>
              <LaunchInDockPositions>BottomFull</LaunchInDockPositions>
              <ContentControl>X.Extension.ThirdParty.Aws.Content</ContentControl>
              <AssemblyName>X.Extension.ThirdParty.Aws</AssemblyName>
              <IsExtEnabled>true</IsExtEnabled>
              <IsUWPExtension>true</IsUWPExtension>
            </uap3:Properties>
          </uap3:AppExtension>
        </uap3:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <uap:Capability Name="picturesLibrary" />
  </Capabilities>
</Package>