<?xml version="1.0" encoding="utf-8"?>
<Package 
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"        
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" 
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" 
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3" 
  IgnorableNamespaces="uap uap3 mp">
  <Identity Name="21beb0a6-07c8-4194-9a44-396bd1dacc24" Publisher="CN=jose.fajardo" Version="1.0.1.0" />
  <mp:PhoneIdentity PhoneProductId="21beb0a6-07c8-4194-9a44-396bd1dacc24" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>X.Browser</DisplayName>
    <PublisherDisplayName>jose.fajardo</PublisherDisplayName>
    <Logo>Assets\tile\NewStoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="X.Browser.App">
      <uap:VisualElements DisplayName="X" Square150x150Logo="Assets\tile\Square150x150Logo.png" Square44x44Logo="Assets\tile\Square44x44Logo.png" Description="X | browser - a managed browser built around xaml rendering" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\tile\Wide310x150Logo.png" ShortName="X | browser" Square310x310Logo="Assets\tile\Square310x310Logo.png" Square71x71Logo="Assets\tile\Square71x71Logo.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="wide310x150Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <uap3:Extension Category="windows.appExtensionHost">
          <uap3:AppExtensionHost>
            <uap3:Name>X.Extensions</uap3:Name>
          </uap3:AppExtensionHost>
        </uap3:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <uap:Capability Name="picturesLibrary" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>